Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pak
.ucas
*.ucas
Releases/ShitGaemServerV1/LinuxServer/ShitGaem2-LinuxServer.ucas
.uproject
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/Materials/M_Brick_Clay_Beveled.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/StarterContent/Materials/M_Brick_Clay_Beveled.uasset
Content/StarterContent/Materials/M_Concrete_Grime.uasset
Content/StarterContent/Materials/M_Ground_Grass.uasset
Content/StarterContent/Materials/M_Tech_Checker_Dot.uasset
Content/StarterContent/Materials/M_Tech_Hex_Tile_Pulse.uasset
Content/StarterContent/Materials/M_Water_Lake.uasset
Content/StarterContent/Textures/T_Wood_Oak_D.uasset
Content/StarterContent/Materials/M_Wood_Pine.uasset
Content/StarterContent/Materials/M_Wood_Pine.uasset
Content/StarterContent/Materials/M_Wood_Oak.uasset
Content/StarterContent/Materials/M_Wood_Floor_Walnut_Worn.uasset
Content/StarterContent/Materials/M_Wood_Floor_Walnut_Polished.uasset
Content/StarterContent/Materials/M_Water_Ocean.uasset
Content/StarterContent/Materials/M_Water_Lake.uasset
Content/StarterContent/Materials/M_Tech_Hex_Tile_Pulse.uasset
Content/StarterContent/Materials/M_Tech_Checker_Dot.uasset
Content/StarterContent/Materials/M_Ground_Grass.uasset
Content/StarterContent/Materials/M_Concrete_Grime.uasset
Content/StarterContent/Materials/M_Brick_Clay_Beveled.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/Maps/soccer4p_BuiltData.uasset
Content/Maps/soccer4p.umap
