Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pak
.ucas
*.ucas
Releases/ShitGaemServerV1/LinuxServer/ShitGaem2-LinuxServer.ucas
.uproject
.uasset
